.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Slab', serif;
}

.canvas-board {
    position: absolute;
    z-index: 1;
}

.canvas-board img {
    width: 420px;
    height: 270px;
}

.form {
    position: relative;
    z-index: 2;
    
}

#userIcon,
#emailIcon,
#passIcon {
    height: 20px;
    width: 20px;
    margin: 0 20px 5px 0;
}

.userMail,
.userName,
.userPass,
.forgotPass,
.logInSignUp,
.newUser {
    margin-bottom: 10px;
}

input{
    background: transparent;
    outline: none;
    border: none;
    color: black;
    font-size: 30px;
}

.forgotPass a, 
.newUser a,
.currentUser a {
    text-decoration: none;
    color: black;
}

.logInSignUp button{
    background-color: transparent;
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}