body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-family: 'Josefin Slab', serif;
  background-image: url('/src/components/assets/background2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}